.container {
  width: 100%;
  margin: 0 auto; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  text-decoration: none;
  list-style-type: none; }

header .header-top {
  padding: 10px 31px;
  background-color: #00923f; }
  header .header-top__left {
    width: 100%; }
    header .header-top__left h2 {
      text-align: center;
      font-family: Roboto, sans-serif;
      color: #ffffff;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 500; }
  header .header-top__right {
    display: flex;
    justify-content: right; }
    header .header-top__right .item {
      color: #fff;
      font-weight: 400; }
      header .header-top__right .item:first-child {
        margin-right: 15px; }
      header .header-top__right .item:nth-child(2n) {
        margin: 0 15px; }
      header .header-top__right .item:last-child.item_search {
        margin-left: 15px;
        line-height: 1.2;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: all 0.2s; }
        header .header-top__right .item:last-child.item_search span {
          padding-left: 8px; }
        header .header-top__right .item:last-child.item_search svg {
          fill: #ffffff; }
header .header-bottom {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
  background-position: 50% 0;
  background-size: cover;
  position: relative;
  transition: all .5s;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff; }
  header .header-bottom .content {
    padding: 5px 15px;
    display: flex;
    justify-content: space-between; }
    header .header-bottom .content .header-bottom__logo {
      max-width: 189px;
      transition: height 0.5s; }
      header .header-bottom .content .header-bottom__logo img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    header .header-bottom .content .icon-right,
    header .header-bottom .content .icon-left {
      display: flex;
      align-items: center; }
      header .header-bottom .content .icon-right svg,
      header .header-bottom .content .icon-left svg {
        fill: rgba(102, 102, 102, 0.85);
        height: 24px;
        width: 24px; }
    header .header-bottom .content .header-bottom__menu {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      width: 50%;
      background-color: #fff;
      z-index: 999; }
    header .header-bottom .content .header-bottom__hotline {
      float: right;
      margin-left: 30px;
      height: 100%;
      display: flex;
      align-items: center; }
      header .header-bottom .content .header-bottom__hotline a {
        padding: 10px 20px;
        background: #00923f;
        border-radius: 99px;
        line-height: 1.6;
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        opacity: 1; }
      header .header-bottom .content .header-bottom__hotline:hover a {
        box-shadow: inset 0 0 0 100px rgba(0, 0, 0, 0.2); }

.search {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 999; }
  .search form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2) !important;
    border-radius: 99px;
    color: #fff;
    padding: 20px;
    transition: all 0.5s;
    visibility: hidden;
    opacity: 0; }
    .search form input {
      display: block;
      width: 600px;
      padding: 0 20px;
      color: #fff;
      font-size: 28px;
      height: 100%;
      background: none;
      outline: none;
      border: none; }
      .search form input::placeholder {
        color: #fff; }
    .search form button {
      border: none;
      background: none;
      cursor: pointer; }
      .search form button svg {
        fill: #ffffff !important; }
  .search .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); }
  .search .close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transform: translateY(20px);
    transition: transform 0.5s; }
    .search .close:hover svg {
      fill: #fff; }

.section-slide {
  cursor: grab;
  width: 100%;
  margin-bottom: 0 !important; }
  .section-slide .item img {
    max-width: 100%;
    object-fit: cover; }
  .section-slide:hover .slick-next,
  .section-slide:hover .slick-prev {
    visibility: visible; }
  .section-slide .slick-prev {
    visibility: hidden;
    left: 50px;
    z-index: 1; }
    .section-slide .slick-prev::before {
      content: ""; }
    .section-slide .slick-prev svg {
      fill: #fff !important;
      width: 20px;
      height: 20px; }
  .section-slide .slick-next {
    visibility: hidden;
    right: 50px;
    z-index: 1; }
    .section-slide .slick-next::before {
      content: ""; }
    .section-slide .slick-next svg {
      fill: #fff !important;
      width: 20px;
      height: 20px; }
  .section-slide .slick-arrow:hover svg {
    fill: #00923f !important;
    width: 20px;
    height: 20px;
    transition: all 0.3s; }
  .section-slide .slick-dots {
    bottom: 10px;
    z-index: 100000; }
    .section-slide .slick-dots li.slick-active button::before {
      color: #fff !important;
      font-size: 40px !important; }
    .section-slide .slick-dots li {
      margin: 0 !important; }
      .section-slide .slick-dots li button::before {
        color: #fff !important;
        font-size: 40px !important; }

.section-intro {
  padding: 70px;
  background: url("../img/bg_about.jpg"); }
  .section-intro__box {
    display: flex; }
    .section-intro__box h2 {
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 700;
      font-style: normal; }
    .section-intro__box .logo.item {
      flex: 0 0 50%;
      padding: 0 15px;
      padding-top: 60px; }
      .section-intro__box .logo.item img {
        width: 100%; }
    .section-intro__box .text.item {
      padding: 0 15px;
      flex: 0 0 50%; }
      .section-intro__box .text.item .desc {
        line-height: 1.3;
        margin-bottom: 20px; }
      .section-intro__box .text.item a {
        cursor: pointer;
        background-color: #00923f;
        border: none;
        outline: none;
        padding: 10px 20px;
        color: #fff;
        border-radius: 99px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        position: relative; }
        .section-intro__box .text.item a svg {
          position: absolute;
          z-index: 1;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          right: 11%;
          fill: #fff;
          opacity: 0;
          transition: opacity .3s; }
        .section-intro__box .text.item a span {
          transform: translateX(0);
          transition: transform .3s; }
        .section-intro__box .text.item a:hover span {
          transform: translateX(-5px);
          transition: transform .3s; }
        .section-intro__box .text.item a:hover svg {
          opacity: 1;
          transition: opacity 0.3s; }

.main-product {
  padding: 45px 0; }
  .main-product .title {
    padding: 5px;
    text-align: center; }
    .main-product .title h2 {
      margin-bottom: 13px;
      text-align: center; }
      .main-product .title h2 span {
        color: #00923f; }
    .main-product .title p {
      margin-bottom: 20px; }
  .main-product .product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 15px; }
    .main-product .product .item {
      margin-bottom: 30px;
      cursor: pointer;
      width: calc(100%/3 - 20px);
      box-shadow: 0px 1px 9px 0px rgba(180, 180, 180, 0.45);
      transition: box-shadow .3s; }
      .main-product .product .item__bottom {
        padding: 10px; }
        .main-product .product .item__bottom a h3 {
          padding: 7px 0;
          color: #1c1c1c;
          font-weight: 700;
          font-style: normal;
          font-family: Roboto, sans-serif;
          font-size: 21px;
          border-bottom: 3px solid #ededed;
          transition: all .3s;
          margin-bottom: 10px; }
        .main-product .product .item__bottom a p {
          margin-bottom: 10px;
          color: #1c1c1c;
          line-height: 1.6; }
        .main-product .product .item__bottom a.view-detail {
          margin-bottom: 10px;
          padding: 10px 0; }
          .main-product .product .item__bottom a.view-detail span {
            color: #00923f !important; }
          .main-product .product .item__bottom a.view-detail svg {
            fill: #00923f !important; }
          .main-product .product .item__bottom a.view-detail:hover span {
            color: #1c1c1c !important; }
          .main-product .product .item__bottom a.view-detail:hover svg {
            fill: #1c1c1c !important; }
      .main-product .product .item__top {
        overflow: hidden; }
        .main-product .product .item__top img {
          transition: transform .3s;
          width: 100%;
          object-fit: cover; }
      .main-product .product .item:hover {
        box-shadow: 0px 1px 9px 10px rgba(180, 180, 180, 0.25);
        transition: box-shadow .3s; }
        .main-product .product .item:hover .item__top img {
          transform: scale(1.04);
          transition: transform .5s, filter .5s;
          filter: grayscale(100%); }
        .main-product .product .item:hover .item__bottom h3 {
          color: red; }

.section-service {
  padding: 45px 0;
  background: url("../img/bgmodal.jpg") no-repeat;
  background-size: cover; }
  .section-service .title {
    text-align: center;
    padding: 5px; }
    .section-service .title h2 {
      margin-bottom: 13px;
      text-align: center; }
      .section-service .title h2 span {
        color: #00923f; }
    .section-service .title p {
      margin-bottom: 20px;
      line-height: 1.6; }
  .section-service__content {
    display: flex;
    padding: 0 15px;
    justify-content: space-between; }
    .section-service__content .item {
      width: calc(100%/4 - 15px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: white;
      border-radius: 10px;
      padding: 35px 15px; }
      .section-service__content .item .icon {
        border: 1px solid #00923f;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 16px; }
        .section-service__content .item .icon svg {
          fill: #00923f; }
        .section-service__content .item .icon:hover {
          background-color: #00923f; }
          .section-service__content .item .icon:hover svg {
            fill: #fff; }
      .section-service__content .item .text {
        text-align: center;
        margin-bottom: 10px; }
        .section-service__content .item .text h3 {
          text-align: center;
          margin-bottom: 13px;
          font-size: 1.25em;
          font-weight: 700; }
        .section-service__content .item .text p {
          font-size: 15px; }

.section-project {
  position: relative;
  background-image: url("../img/du-an-wellcome-center-vung-tau-19.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0; }
  .section-project::before {
    background-color: rgba(0, 0, 0, 0.82);
    content: '';
    display: block;
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%; }
  .section-project_content {
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    position: relative; }
  .section-project__left {
    padding: 0 15px;
    max-width: 25%; }
    .section-project__left h2 {
      color: #fff;
      margin-bottom: 13px;
      font-size: 1.25em;
      font-weight: 700; }
    .section-project__left p {
      color: #c0c0c0;
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 20px;
      text-align: justify; }
    .section-project__left a {
      cursor: pointer;
      background-color: #00923f;
      border: none;
      outline: none;
      padding: 10px 15px;
      color: #fff;
      border-radius: 99px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: max-content;
      position: relative; }
      .section-project__left a svg {
        position: absolute;
        z-index: 1;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 5%;
        fill: #fff;
        opacity: 0;
        transition: opacity .3s; }
      .section-project__left a span {
        transform: translateX(0);
        transition: transform .3s; }
      .section-project__left a:hover span {
        transform: translateX(-5px);
        transition: transform .3s; }
      .section-project__left a:hover svg {
        opacity: 1;
        transition: opacity 0.3s; }
  .section-project__right {
    cursor: grab;
    margin-right: -20px;
    margin-left: -20px;
    max-width: 75%;
    display: flex;
    justify-content: space-between; }
    .section-project__right .slick-next::before,
    .section-project__right .slick-prev::before {
      display: none; }
    .section-project__right .slick-next svg,
    .section-project__right .slick-prev svg {
      width: 20px;
      height: 20px;
      fill: #fff; }
    .section-project__right .slick-prev {
      z-index: 1;
      left: 2%;
      transition: all 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #00923f;
      opacity: 0; }
      .section-project__right .slick-prev:hover {
        background-color: #00923f;
        opacity: 1; }
    .section-project__right .slick-next {
      z-index: 1;
      right: 4%;
      transition: all 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #00923f;
      opacity: 0; }
      .section-project__right .slick-next:hover {
        background-color: #00923f;
        opacity: 1; }
    .section-project__right:hover .slick-prev {
      opacity: 1;
      left: 1%;
      transition: all 0.3s;
      visibility: visible; }
      .section-project__right:hover .slick-prev svg {
        width: 20px;
        height: 20px; }
    .section-project__right:hover .slick-next {
      opacity: 1;
      right: 3%;
      transition: all 0.3s;
      visibility: visible; }
      .section-project__right:hover .slick-next svg {
        width: 20px;
        height: 20px; }
    .section-project__right .item {
      margin-right: 20px;
      border-radius: 10px;
      background-color: #fff; }
      .section-project__right .item__top img {
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        max-width: 100%; }
      .section-project__right .item__bottom {
        padding: 15px 10px; }
        .section-project__right .item__bottom h5 {
          color: black;
          margin-bottom: 13px;
          font-size: 1.25em;
          font-weight: 700; }
        .section-project__right .item__bottom p {
          color: gray;
          font-size: 13px;
          line-height: 1.6; }
          .section-project__right .item__bottom p svg {
            fill: gray;
            margin-right: 7px; }
      .section-project__right .item:last-child {
        margin-right: 0; }

.section-new-share {
  padding: 45px 0;
  background: url("../img/bg_project.jpg");
  position: relative; }
  .section-new-share::before {
    background-color: rgba(255, 255, 255, 0.424);
    content: '';
    display: block;
    top: 0;
    height: 100%;
    position: absolute;
    width: 100%; }
  .section-new-share__title {
    z-index: 1;
    position: relative;
    text-align: center; }
    .section-new-share__title h2 {
      margin-bottom: 13px;
      text-align: center; }
    .section-new-share__title p {
      margin-bottom: 20px;
      font-size: 13px; }
  .section-new-share__content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px; }
    .section-new-share__content .slick-next::before,
    .section-new-share__content .slick-prev::before {
      display: none; }
    .section-new-share__content .slick-next svg,
    .section-new-share__content .slick-prev svg {
      width: 20px;
      height: 20px;
      fill: #fff; }
    .section-new-share__content .slick-prev {
      z-index: 1;
      left: 4%;
      transition: all 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #00923f;
      opacity: 0; }
      .section-new-share__content .slick-prev:hover {
        background-color: #00923f;
        opacity: 1; }
    .section-new-share__content .slick-next {
      z-index: 1;
      right: 4%;
      transition: all 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #00923f;
      opacity: 0; }
      .section-new-share__content .slick-next:hover {
        background-color: #00923f;
        opacity: 1; }
    .section-new-share__content:hover .slick-prev {
      opacity: 1;
      left: 3%;
      transition: all 0.3s;
      visibility: visible; }
      .section-new-share__content:hover .slick-prev svg {
        width: 20px;
        height: 20px; }
    .section-new-share__content:hover .slick-next {
      opacity: 1;
      right: 3%;
      transition: all 0.3s;
      visibility: visible; }
      .section-new-share__content:hover .slick-next svg {
        width: 20px;
        height: 20px; }
    .section-new-share__content .item {
      width: calc(100%/3 - 20px);
      padding: 0 15px;
      cursor: grab; }
      .section-new-share__content .item .thumbnail {
        overflow: hidden; }
        .section-new-share__content .item .thumbnail img {
          object-fit: cover;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          max-width: 100%;
          transition: transform .5s; }
      .section-new-share__content .item .text {
        padding: 10px 0 20px 0; }
        .section-new-share__content .item .text h5 {
          font-size: 19px;
          margin-bottom: 10px; }
          .section-new-share__content .item .text h5:hover {
            color: #00923f; }
        .section-new-share__content .item .text p {
          margin-bottom: 0.1em;
          margin-top: 0.1em;
          font-size: .9em;
          text-align: justify; }
        .section-new-share__content .item .text p.small-text {
          color: #777;
          font-size: .8em; }
      .section-new-share__content .item:hover .thumbnail img {
        transform: scale(1.04);
        transition: transform .5s; }
  .section-new-share .btn-action {
    position: relative;
    z-index: 1;
    text-align: center; }
    .section-new-share .btn-action a {
      padding: 10px 15px;
      border-radius: 99px;
      border: 1px solid #00923f;
      color: #00923f;
      transition: all 0.5s; }
      .section-new-share .btn-action a svg {
        fill: #00923f;
        transition: all 0.5s; }
      .section-new-share .btn-action a:hover {
        color: #fff;
        background-color: #00923f;
        transition: all 0.5s; }
        .section-new-share .btn-action a:hover svg {
          fill: #ffffff;
          transition: all 0.5s; }

.section-question {
  padding: 45px 0; }
  .section-question .title {
    z-index: 1;
    position: relative;
    text-align: center; }
    .section-question .title h2 {
      margin-bottom: 13px;
      text-align: center; }
    .section-question .title p {
      margin-bottom: 20px;
      font-size: 13px; }
  .section-question__content {
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .section-question__content .right,
    .section-question__content .left {
      flex: 0 0 49.2%; }
    .section-question__content .item {
      margin-bottom: 15px; }
      .section-question__content .item .question {
        cursor: pointer;
        padding: 15px;
        padding-right: 0;
        border-radius: 99px;
        box-shadow: 2px 2px 10px #00000038;
        transition: all .3s; }
        .section-question__content .item .question span {
          padding-right: 40px;
          margin-left: 10px;
          font-size: 18px; }
        .section-question__content .item .question svg {
          transition: all .3s;
          fill: rgba(102, 102, 102, 0.85); }
        .section-question__content .item .question:hover {
          color: red; }
          .section-question__content .item .question:hover svg {
            fill: red;
            transition: all .3s; }
        .section-question__content .item .question.active {
          background-color: rgba(0, 0, 0, 0.03); }
          .section-question__content .item .question.active svg {
            fill: #00923f;
            transform: rotate(180deg);
            transition: all .3s; }
          .section-question__content .item .question.active span {
            font-weight: bold;
            color: #00923f;
            transition: all .3s; }
          .section-question__content .item .question.active:hover {
            color: #00923f; }
            .section-question__content .item .question.active:hover svg {
              fill: #00923f; }
      .section-question__content .item .sub {
        padding: 16px 36px;
        display: none; }
        .section-question__content .item .sub ul li {
          list-style-type: circle;
          margin-bottom: 10px; }
          .section-question__content .item .sub ul li a {
            color: #000;
            font-weight: 400;
            font-style: normal; }

.section-partner {
  padding: 45px 0;
  padding-top: 0; }
  .section-partner__title {
    text-align: center;
    padding: 10px; }
    .section-partner__title h2 {
      margin-bottom: 13px;
      text-align: center; }
    .section-partner__title p {
      margin-bottom: 20px;
      font-size: 13px;
      line-height: 1.6; }
  .section-partner__content {
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    .section-partner__content .item {
      margin-bottom: 20px;
      width: calc(100%/6 - 15px);
      background-color: #fff;
      box-shadow: 2px 2px 10px #00000029;
      border-radius: 5px;
      border: 1px solid #d4d4d4; }
      .section-partner__content .item img {
        max-width: 100%;
        object-fit: cover;
        display: inline-block; }

footer {
  padding: 45px;
  padding-bottom: 0;
  background-color: #00923f; }
  footer .footer-top {
    display: flex;
    flex-wrap: wrap; }
    footer .footer-top .item:first-child {
      width: 33.3333333333%; }
    footer .footer-top .item:nth-child(2) {
      width: 25%; }
    footer .footer-top .item:nth-child(4) {
      width: 25%; }
    footer .footer-top .item:nth-child(3) {
      width: 16%; }
      footer .footer-top .item:nth-child(3) .icon {
        display: flex;
        justify-content: space-between; }
        footer .footer-top .item:nth-child(3) .icon-item {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center; }
          footer .footer-top .item:nth-child(3) .icon-item svg {
            fill: #fff; }
          footer .footer-top .item:nth-child(3) .icon-item:first-child {
            background-color: blue; }
          footer .footer-top .item:nth-child(3) .icon-item:nth-child(2) {
            background-color: #000; }
          footer .footer-top .item:nth-child(3) .icon-item:nth-child(3) {
            background-color: red; }
          footer .footer-top .item:nth-child(3) .icon-item:nth-child(4) {
            background-color: red; }
    footer .footer-top .item {
      padding: 0 15px; }
      footer .footer-top .item h3 {
        color: #fff;
        margin-bottom: 10px; }
      footer .footer-top .item p {
        font-size: 13px;
        line-height: 1.6;
        color: #fff;
        margin-bottom: 20px; }
      footer .footer-top .item ul li {
        margin-bottom: 9px; }
        footer .footer-top .item ul li span {
          font-size: 13px;
          color: #fff; }
          footer .footer-top .item ul li span svg {
            fill: #ffff; }
  footer .footer-bottom {
    border-top: 1px solid #ffffff2b;
    padding: 15px;
    text-align: center; }
    footer .footer-bottom span {
      color: #fff;
      font-size: 15px; }

/*# sourceMappingURL=mobile.css.map */
